@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: aliceblue;
}

.header{
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid gray;
}

.header-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
}

.navlist{
    display: flex;

}

.navitem{
    margin-right: 20px;
    list-style: none;
    font-size: 18px;
}

.navlink{
    text-decoration: none;
    color: black;

}

.navlink:hover{
    color:  #2549D3;
}

.active{
    color:#0F298B;
    font-weight: bold;
}

.navbtn{
    background-color:#2549D3;
    padding: 10px 20px;
    color: #fafafa;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


.navbtn:hover{
    background-color: #2549D3;

}

.navbtn2{
    background-color:#2549D3;
    padding: 13px 20px;
    color: #fafafa;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;

}

.navbtn3{
    background-color: #0F298B;
    padding: 10px;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 150px;
    margin-left: 30px;justify-content: space-between;
    border-radius: 50%;
    text-align: center;
    position: relative;


}

.navbtn3 img{
    position: relative;
    width: 30px;
    height: 30px;
    top: 8px;


}

.section1{
    position: relative;

}

.sectionwrapper{
    width: 80%;
    margin: 10% auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    
}

.section1-img{
    width: 100%;

}
.text{
    width: 50%;
    padding-right: 70px;
    
}
.text h1{
    font-size: 60px;
    color: #0F298B;
    margin-bottom: 20px;

}

.text p{
    margin-bottom: 30px;
    font-size: 32px;
}

.image{
    width: 50%;

}


.section2{
    width: 60%;
    background-color: white;
    padding-left: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.sec2-list{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   
}

.sec2-list li a{
    text-decoration: none;
    color: #0F298B;
    font-size: 20px;
    font-weight: 500;
}

.searchbtn{

    background-color:#2549D3;
    padding: 13px 20px;
    color: #fafafa;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}

/* product container */
.sec3{
    width: 100%;
    background-color: aqua;
    margin-right: 20%;
    padding:10%;
    border-radius: 10px;
}

.sec3 h1{
    color: #0F298B;
}
.second-h1{
    padding-left: 30%;
    color: #0F298B;
}

.sec3 p{
    padding-left: 25%;
    font-size: 23px;
}

.container{
    display: flex;
    padding-top: 10%;
    padding-left: 30%;
}

.cards{
    background: white;
    width: 200px;
    height: 200px;
    margin: 20px;

}

.card1-image{
    background-image: url(./images/icon.png);
}

